* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mybox {
    width: 12em;
    border: 15px solid green;
    background-color: green;
    padding: 1em;

}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: gray;
}

.space {
    margin-top: 20em;
}